body
{
    font: 14px Arial;
    text-align: center;
}
  
.header
{
    font: 20px Arial;
    font-weight: bold;
    margin-bottom: 20px;
}

.field
{
    margin-bottom: 15px;
    text-align: right;
    clear: both;
}

label
{
    float: left;
    margin-right: 100px;
}

.parameters__wrapper
{
    float: left;
    margin-left: 100px;
    margin-top: 16px;   
}
