body
{
    font: 20px Arial;
    text-align: center;
}
  
.header
{
    font: 30px Arial;
    font-weight: bold;
    margin-bottom: 15%;
}

.field
{
    margin-bottom: 10%;
    margin-left: -10%;
    font: 20px Arial;
    text-align: right;
    clear: both;
}

label
{
    float: left;
    margin-right: 20px;
}

.parameters__wrapper
{
    float: left;
    margin-left: 35%;
    margin-top: 20px;   
}

